#three-displays {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    img {
        display: block; 
        width: 100%;
    }

    .displays-tablet,
    .displays-dt {
        display: none; 
    }

    .image-container {
        padding: auto;
    }

    #phone-container-left, 
    #phone-container-right {
        display: none; 
    }

    #phone-container-middle {
        width: 100%;
        position: relative;

        #iphone-3 {
            width: 75%;
            margin: auto;
            position: relative;
            z-index: 0;
        }
    
        #phone-middle {
            display: block;
            position: absolute; 
            width: 76%;
            left: 12%;
            top: -1%;
        }
    }

    @include respond-to('medium') {
        margin-bottom: 0;

        #phone-container-left {
            display: flex;
            flex: 1;
            justify-content: flex-end;

            #phone-left {
                width: 90%;
            }
        } 

        #phone-container-middle {
            flex: 1;
            position: relative;
    
            #iphone-3 {
                width: 100%;
                margin: auto;
                position: relative;
                z-index: 0;
            }
        
            #phone-middle {
                display: block;
                position: absolute; 
                width: 100%;
                left: .5%;
                top: 0%;
            }
        }

        #phone-container-right {
            display: flex;
            flex: 1;

            #phone-right {
                width: 90%;
            }
        }

        .displays-tablet {
            display: block;
        }
    }

    @include respond-to('large') {
        margin-bottom: 0;

        .displays-tablet {
            display: none;
        }

        .displays-dt {
            display: block;
        }

        #phone-container-left {
            display: flex;
            flex: 1;
            justify-content: flex-end;

            #phone-left-dt {
                width: 90%;
            }
        } 

        #phone-container-middle {
            flex: 1;
            position: relative;
    
            #iphone-3 {
                width: 100%;
                margin: auto;
                position: relative;
                z-index: 0;
            }
        
            #phone-middle {
                display: none;
            }

            #phone-left {
                display: block;
                position: absolute; 
                width: 90%;
                left: 5%;
                top: 2%;
            }
        }


        #phone-container-right {
            display: flex;
            flex: 1;

            #phone-right-dt {
                width: 90%;
            }
        }
    }

}


//     @include respond-to('large') {
//         padding: 2rem;
//         margin: auto;
//         gap: 4rem;
//     }

//     #phone-container-left {
//         display: none;

//         #phone-left {
//             display: none;
//         }

//         #phone-left-dt {
//             display: none; 
//         }

//         @include respond-to('medium') {
//             display: flex;
//             flex: 1;

//             #phone-left {
//                 width: 95%;
//                 height: auto;
//             }

//             #phone-left-dt {
//                 display: none;
//             }
//         }

//         @include respond-to('large') {
//             #phone-left {
//                 display: none;
//             }

//             #phone-left-dt {
//                 display: block;
//                 width: 95%;
//                 height: auto;
//             }
//         }
//     }

//     #phone-container-middle{
//         display: flex;
//         width: 70%;
//         margin: 2rem auto;
//         height: auto; 
//         position: relative;

//         #phone-left {
//             display: none;
//         }

        

//         #phone-middle {
            
//         }

//         @include respond-to('medium') {
//             display: flex;
//             justify-content: flex-end;
//             flex: 1;
//         }

//         @include respond-to('large') {
//             flex: 1;

//             #phone-middle {
//                 display: none;
//             }

//             #phone-left {
//                 display: block;
//                 margin: auto;
//                 width: 90%;
//                 left: 5%;
//                 top: 2%;
//                 object-fit: contain;
//                 position: absolute;
//                 z-index: 1;
//             }
//         }
//     }

//     #phone-container-right {
//         display: none;

//         #phone-right {
//             display: none;
//         }

//         #phone-right-dt {
//             display: none;
//         }

//         @include respond-to('medium') {
//             display: flex;
//             justify-content: flex-end;
//             flex: 1;

//             #phone-right {
//                 width: 95%;
//                 height: auto;
//             }
//         }

//         @include respond-to('large') {
//             flex: 1;

//             #phone-right {
//                 display: none;
//             }

//             #phone-right-dt {
//                 display: block;
//                 width: 95%;
//                 height: auto;
//             }
//         }
//     }
// }