

.button {
    @include button;
    width: 162px;
    height: 50px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.down-btn { //I got a lot of help with this button from ChatGPT
    @include round-button;
    background-color: var(--clr-background);
    color: var(--clr-text-body);
    position: relative;
    margin: 1rem;
    height: 3rem;

    &::after {
        @include font-awesome-icon("\f078");
        color: var(--clr-text-body);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
        transform-origin: 0.25rem;
        transition: transform 0.3s ease; 
    }

    &:hover {
        background-color: var(--clr-primary);
    }

    &:hover::after {
        color: var(--clr-white);
    }

    @include respond-to('large') {
        margin: 1rem; 
    }
}


#signin-button {
    display: none;

    @include respond-to('large') {
        display: block;
        height: 40px;
        text-decoration: none;
        background-color: var(--clr-primary);
        padding: .3rem 1rem;
        
        i {
            padding: .5rem;
        }

        span {
            color: var(--clr-white);
        }
    }
}

.hamburger-menu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    
    i {
        font-size: 1.5rem;
        color: var(--clr-text-body);
    }
}

.download-button {
    @include button;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: .5em 1em;
    background-color: var(--clr-gray-900);

    .btn-pic {
        height: 2.5em;
        
        @include respond-to('medium') {
            height: 1.6em;
        }

        @include respond-to('large') {
            height: 2.5em;
        }
    }

    .btn-pic-dark {
        display: none;
    }   
}
