.consultation-card {
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
    border: none;
    background-color: var(--clr-background);
    top: 4rem;
    right: 5rem;

    @include respond-to('medium') {
        width: 80%;
        height: 56vh;
        padding: 2rem;
        margin-bottom: 2rem; 
        margin-right: 1rem;
    }
    @include respond-to('large') {
        
        padding: 4rem;
    }

    .contact-form {
        .input-group {
            margin-block: 1.5rem;
            display: flex; 
            flex-direction: column;
            gap: .5rem;
    
            label {
                font-size: 1rem;
                font-weight: 600;
                color: var(--clr-text-headlines);
            }
    
            input {
                font-size: inherit;
                font-family: inherit;
                padding: .5rem;
                border-radius: .5rem;
                border: 1px solid var(--clr-gray-400);

                &:hover,
                &:active {
                    border: none;
                    box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
                }
            }
        }

        .button {
            margin-top: 1rem;
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    
}