.dropdown-wrapper {
    position: relative; 

    .canExpand {
        position: absolute; 
        top: 0; 
        right: 0;
        width: 50vw;
        border-radius: 0 0 .5rem .5rem; 
        transition: max-height .3s ease; 
        max-height: 0;  
        overflow: hidden;   
        background-color: var(--clr-background);
        box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);

        &.open {
            max-height: 80vh;    
    
            @include respond-to('medium') {
            }

            @include respond-to('large') {
            }
        }

        .dropdown-list {
            list-style: none;
            padding: 1rem; 
            padding-bottom: 2rem;
            display: flex; 
            flex-direction: column;
            gap: 1.5rem;

            // .dropdown-item {
                
            // }
        }
    }

    

}

