#input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;    
}

#email-input {
    height: 50px;
    width: 230px;
    border: 1px solid var(--clr-gray-400);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--clr-white);
    font-size: inherit;
    padding: 0 1rem;

    @include respond-to('medium') {
        width: 215px;  
    }

    @include respond-to('large') {
        min-width: 350px;
    }
}

#email-input::placeholder {
    @include text;
    font-size: 1rem;
    color: var(--clr-gray-500);
    background-color: var(--clr-white);
    
}

#sub-btn {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include respond-to('large') {
        width: 120px;
    }
}