#hamburger-expanded {
    //Got some help from ChatGPT om transition problems here  

    top: 53.5px; 
    right: -16px;
    width: 50vw;     
    background-color: var(--clr-dropdown);
    
    @include respond-to('medium') {
        right: -38px;
        width: 20vh; 
    }

    &.open {
        max-height: 40vh;    

        @include respond-to('medium') {
            max-height: 30vh; 
        }
    }

    .burger-item {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--clr-text-headlines);
    } 
}