/* --- TYPOGRAPHY --- */


@mixin headlines {
    font-weight: 900;
    color: var(--clr-text-headlines);
    text-wrap: balance;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--clr-background);
    color: var(--clr-text-body);
}

h1 {
    @include headlines;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 130%;

    @include respond-to('large') {
        text-align: left;
    }
}

h2 {
    @include headlines;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 130%;

    @include respond-to('large') {
        text-align: left;
    }
}

h3 {
    @include headlines;
    font-size: 1.5rem;
}

h4 {
    @include headlines;
    font-size: 1.4rem;
    text-align: center;
    line-height: 140%;
}

h5 {
    @include headlines;
    font-size: 1.2rem;
    line-height: 140%;
}

h6 {
    @include headlines;
    font-size: 1rem;
    font-weight: 600;
    line-height: 140%;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--clr-text-body); 
}

.sm-p {
    font-size: .9rem;
    color: var(--clr-text-body-600);
}

span {
    color: inherit;
    font-size: inherit;
}
