@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-gray-100: #F3F6FF;
  --clr-gray-200: #EFF2FC;
  --clr-gray-300: #E2E5F1;
  --clr-gray-400: #D4D7E5;
  --clr-gray-500: #B4B7C9;
  --clr-gray-600: #9397AD;
  --clr-gray-700: #565973;
  --clr-gray-800: #33354D;
  --clr-gray-880: hsl(223, 39%, 11%);
  --clr-gray-890: hsl(223, 39%, 5%);
  --clr-gray-900: #0B0F19;
  --clr-primary: #6366F1;
  --clr-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  --clr-text-headlines: var(--clr-gray-900);
  --clr-text-body: var(--clr-gray-700);
  --clr-text-body-600: var(--clr-gray-600);
  --clr-background: var(--clr-white);
  --clr-background-gray: var(--clr-gray-100);
  --clr-dropdown: var(--clr-gray-200);
  --clr-system-error: #EF4444;
  --clr-system-success: #22C55E;
  --clr-system-warning: #FFBA08;
  --clr-system-info: #4C82F7;
}

.darkmode {
  --clr-background: var(--clr-gray-900);
  --clr-background-gray: var(--clr-gray-890);
  --clr-text-headlines: var(--clr-white);
  --clr-text-body: var(--clr-gray-500);
  --clr-text-body-600: var(--clr-white);
  --clr-dropdown: var(--clr-gray-880);
}
.darkmode .download-button {
  background-color: #EFF2FC;
}
.darkmode .download-button .btn-pic-dark {
  display: block;
}
.darkmode .download-button #apple-pic {
  display: none;
}
.darkmode .download-button #google-pic {
  display: none;
}
.darkmode #p-6 .collapsible {
  border: 0.05px solid var(--clr-gray-800);
}
.darkmode #p-6 .collapsible p {
  color: var(--clr-white);
}
.darkmode #p-6 .content {
  border: 0.05px solid var(--clr-gray-800);
}
.darkmode #p-6 .collapse-down {
  background-color: var(--clr-gray-880);
}
.darkmode #p-6 .collapse-down::after {
  color: var(--clr-white);
}
.darkmode #p-6 .collapse-down:hover {
  background-color: var(--clr-primary);
}
.darkmode #p-6 .collapse-down:hover::after {
  color: var(--clr-white);
}
.darkmode #p-6 .faq-open .collapsible .collapse-down {
  background-color: var(--clr-primary);
  box-shadow: 0 4px 6px 0 rgba(11, 15, 25, 0.15);
}
.darkmode #p-6 .faq-open .collapsible .collapse-down::after {
  color: var(--clr-white);
  transform: translateY(-50%) rotate(180deg);
  transform-origin: 0.25rem;
}
.darkmode #p-6 .faq-open .collapsible .collapse-down:hover {
  background-color: var(--clr-gray-500);
}
.darkmode #p-6 .faq-open .collapsible .collapse-down:hover::after {
  color: var(--clr-gray-900);
}
.darkmode .consultation-card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.534);
}
.darkmode #p-contact-2 .location-box .social-light {
  display: none;
}
.darkmode #p-contact-2 .location-box .social-dark {
  display: block;
}
@media (min-width: 768px) {
  .darkmode #teaser {
    color: var(--clr-text-body-600);
  }
  .darkmode #logo-section .logo-holder {
    border: 0.5px solid var(--clr-gray-800);
  }
}
@media (min-width: 1200px) {
  .darkmode #page-5 #p-5 .text-box {
    background-color: var(--clr-gray-880);
  }
}
.darkmode .dropdown-specialist-btn {
  color: var(--clr-gray-900);
  background-color: var(--clr-white);
}
.darkmode .dropdown-specialist-btn::after {
  color: var(--clr-gray-900);
}
.darkmode #dropdown-form {
  background-color: var(--clr-white);
  color: var(--clr-gray-900);
}
.darkmode #dropdown-form.open {
  max-height: 80vh;
}
/* --- TYPOGRAPHY --- */
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--clr-background);
  color: var(--clr-text-body);
}

h1 {
  font-weight: 900;
  color: var(--clr-text-headlines);
  text-wrap: balance;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 130%;
}
@media (min-width: 1200px) {
  h1 {
    text-align: left;
  }
}

h2 {
  font-weight: 900;
  color: var(--clr-text-headlines);
  text-wrap: balance;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 130%;
}
@media (min-width: 1200px) {
  h2 {
    text-align: left;
  }
}

h3 {
  font-weight: 900;
  color: var(--clr-text-headlines);
  text-wrap: balance;
  font-size: 1.5rem;
}

h4 {
  font-weight: 900;
  color: var(--clr-text-headlines);
  text-wrap: balance;
  font-size: 1.4rem;
  text-align: center;
  line-height: 140%;
}

h5 {
  font-weight: 900;
  color: var(--clr-text-headlines);
  text-wrap: balance;
  font-size: 1.2rem;
  line-height: 140%;
}

h6 {
  font-weight: 900;
  color: var(--clr-text-headlines);
  text-wrap: balance;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--clr-text-body);
}

.sm-p {
  font-size: 0.9rem;
  color: var(--clr-text-body-600);
}

span {
  color: inherit;
  font-size: inherit;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  margin: auto;
  background-color: transparent;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

nav {
  background-color: var(--clr-background);
  position: sticky;
  top: 0;
  z-index: 5;
}

.under-page-nav {
  background-color: var(--clr-background-gray);
}

.header-container {
  padding: 0.5rem 1rem 0.2rem 0.5rem;
  display: flex;
  flex-direction: row;
}

#silicon-logo {
  width: 100%;
}
#silicon-logo h5 {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
#silicon-logo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  #silicon-logo {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  #silicon-logo {
    width: 15%;
    margin-right: 2rem;
  }
}

.nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-list .nav-list-item {
  list-style: none;
}
.nav-list #toggle-switch-li {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .nav-list #toggle-switch-li .toggle-switch-label {
    display: inline;
    padding-right: 1rem;
  }
}
.nav-list #hamburger-li {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .nav-list {
    grid-template-columns: 2fr 2fr 1fr;
    justify-items: right;
  }
}
@media (min-width: 1200px) {
  .nav-list {
    grid-template-columns: 1fr 6fr 2fr 2fr;
    align-items: center;
    gap: 2rem;
  }
  .nav-list #hamburger-li {
    display: none;
  }
  .nav-list #feature-menu-li {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: left;
  }
  .nav-list #contact-li {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: left;
  }
  .nav-list #toggle-switch-li {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .nav-list #signin-btn-li {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

#feature-menu,
#contact {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-text-body);
  text-decoration: none;
  cursor: pointer;
  display: none;
}
#feature-menu:hover,
#contact:hover {
  color: var(--clr-primary);
}
@media (min-width: 1200px) {
  #feature-menu,
  #contact {
    display: inline;
  }
}

.footer-class {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
@media (min-width: 768px) {
  .footer-class {
    flex-direction: row;
    margin: auto;
    padding: 1rem;
  }
}

.footer {
  font-size: 0.9rem;
  color: var(--clr-gray-600);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#page-1 {
  background-color: var(--clr-background);
  background-image: var(--clr-gradient);
}

#p-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  #p-1 {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: auto 1fr 3fr 2fr 2fr;
    justify-content: space-evenly;
  }
  #p-1 #headline {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #p-1 #teaser {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #p-1 #discover {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  #p-1 #apple {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #p-1 #google {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #p-1 #img-co-1 {
    grid-column: 3/4;
    grid-row: 2/6;
  }
}
@media (min-width: 1200px) {
  #p-1 {
    grid-template-columns: 1fr 1fr 1fr 5fr;
    grid-template-rows: auto 1fr 1fr 2fr;
  }
  #p-1 #headline {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #p-1 #teaser {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  #p-1 #discover {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  #p-1 #apple {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
  }
  #p-1 #google {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: start;
  }
  #p-1 #img-co-1 {
    grid-column: 4/5;
    grid-row: 1/5;
    justify-self: flex-end;
    align-self: flex-end;
  }
}

#headline {
  margin: 1rem;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
}
@media (min-width: 768px) {
  #headline {
    font-size: 2.75rem;
  }
}
@media (min-width: 1200px) {
  #headline {
    font-size: 3.2rem;
    text-align: left;
    margin-top: 5rem;
    margin-left: 0;
  }
}

#teaser {
  margin: 1rem;
  width: 90%;
  font-size: 1.1rem;
  color: var(--clr-text-headlines);
  text-align: center;
}
@media (min-width: 768px) {
  #teaser {
    width: auto;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  #teaser {
    align-self: flex-start;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}

#discover {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  #discover {
    justify-self: left;
  }
}
#discover #discover-more {
  font-size: 0.9rem;
  color: var(--clr-text-body-600);
}

#img-co-1 {
  display: none;
}
@media (min-width: 768px) {
  #img-co-1 {
    display: block;
    width: 100%;
    align-self: flex-end;
    justify-self: start;
  }
  #img-co-1 #ip-1 {
    width: 100%;
    height: 100%;
    align-items: center;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 1200px) {
  #img-co-1 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  #img-co-1 {
    width: 85%;
  }
}

#logo-section {
  display: none;
}
@media (min-width: 768px) {
  #logo-section {
    display: block;
    margin-top: 3rem;
  }
  #logo-section .logo-container {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
  }
  #logo-section .logo-container .logo-holder {
    padding: 1.5rem 0.5rem;
    width: 130px;
    height: 90px;
    border: 2px solid var(--clr-gray-300);
    border-radius: 0.5em;
  }
  #logo-section .logo-container .logo-holder img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }
  #logo-section .logo-container .logo-lrg {
    display: none;
  }
}
@media (min-width: 1200px) {
  #logo-section .logo-container {
    margin-top: 3rem;
  }
  #logo-section .logo-container .logo-holder {
    width: 180px;
    height: 90px;
  }
  #logo-section .logo-container .logo-lrg {
    display: flex;
  }
}

#page-2 {
  margin: 1rem 0;
}

@media (min-width: 1200px) {
  #p-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    margin: auto;
    margin-block: 6rem;
  }
}
@media (min-width: 1400px) {
  #p-2 {
    gap: 10rem;
  }
}

#side-view {
  display: none;
}
@media (min-width: 1200px) {
  #side-view {
    display: block;
    flex: 1;
    height: auto;
    align-self: flex-end;
  }
  #side-view #side-phone {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  #side-view {
    flex: 2;
  }
}

@media (min-width: 1200px) {
  #text-content {
    display: block;
    flex: 2;
    justify-content: end;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  #text-content {
    flex: 5;
  }
}
#text-content .textpage {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1200px) {
  #text-content .textpage {
    margin-bottom: 2rem;
  }
  #text-content .textpage #app-features {
    align-self: start;
    font-size: 2.5rem;
  }
  #text-content .textpage p {
    text-align: left;
    font-size: 1.1rem;
    color: var(--clr-text-body-600);
  }
}

.app-feature-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .app-feature-container {
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .app-feature-container {
    gap: 2rem;
  }
}

.app-feature-li {
  list-style: none;
  display: inline-flex;
  padding: 0.5rem;
  align-items: flex-start;
  gap: 1em;
}
.app-feature-li .icon-holder {
  height: 60px;
  width: 60px;
  display: inline-block;
}
.app-feature-li img {
  -o-object-fit: contain;
     object-fit: contain;
}
.app-feature-li p {
  padding: 8px 0;
}

#page-3 {
  background-color: var(--clr-background-gray);
}

#p-3 {
  margin-top: 2rem;
  padding-block: 3rem;
}
#p-3 .text-item {
  margin: 0 0.5rem;
  text-align: center;
  text-wrap: balance;
}
@media (min-width: 768px) {
  #p-3 .text-item {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #p-3 .text-item h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #transfers {
    width: 65vw;
    padding: 2rem 0;
  }
  #transfers p {
    padding-top: 1rem;
  }
}
@media (min-width: 1200px) {
  #transfers {
    display: block;
    width: 100%;
  }
  #transfers p {
    max-width: 40vw;
    margin: auto;
  }
}
#transfers #transfer-tablet {
  display: none;
}
@media (min-width: 768px) {
  #transfers #transfer-tablet {
    display: inline;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  #transfers #transfer-tablet {
    display: none;
  }
}
#transfers #step-3 {
  display: none;
}
@media (min-width: 768px) {
  #transfers #step-3 {
    display: inline;
    color: var(--clr-text-headlines);
  }
}
#transfers #transfer-desktop {
  display: none;
}
@media (min-width: 1200px) {
  #transfers #transfer-desktop {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

#page-4 {
  display: none;
}
@media (min-width: 1200px) {
  #page-4 {
    display: block;
  }
  #page-4 #p-4 {
    display: flex;
    flex-direction: column;
  }
  #page-4 #p-4 .p4-flex {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 7rem;
    margin: 4rem;
    align-items: center;
  }
  #page-4 #p-4 .p4-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: left;
  }
  #page-4 #p-4 .p4-text h2 {
    text-align: left;
  }
  #page-4 #p-4 .p4-li-1 {
    margin-bottom: 1rem;
  }
  #page-4 #p-4 .p4-li-1 i {
    color: var(--clr-primary);
  }
  #page-4 #p-4 .p4-li-1 p {
    text-align: left;
  }
  #page-4 #p-4 #p4-img-1 {
    flex: 1;
    position: relative;
  }
  #page-4 #p-4 #p4-img-1 #scr-1 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  #page-4 #p-4 #p4-img-1 #scr-2 {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    right: -40px;
  }
  #page-4 #p-4 #p4-img-2 {
    flex: 1;
    position: relative;
  }
  #page-4 #p-4 #p4-img-2 #scr-3 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  #page-4 #p-4 #p4-img-2 #scr-visa {
    position: absolute;
    z-index: 2;
    bottom: 70px;
    right: -40px;
  }
  #page-4 #p-4 li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  #page-4 #p-4 .p4-ul-2 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  #page-4 #p-4 .p4-li-2 {
    flex-direction: column;
    align-items: flex-start;
  }
}

#page-5 {
  display: none;
}
@media (min-width: 1200px) {
  #page-5 {
    display: block;
    background-color: var(--clr-background-gray);
  }
}
@media (min-width: 1200px) {
  #page-5 #p-5 {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 4rem 1rem;
  }
  #page-5 #p-5 #p-5-text {
    flex: 1;
  }
  #page-5 #p-5 #p-5-text h2 {
    text-align: left;
    font-size: 2rem;
    padding-right: 2rem;
  }
  #page-5 #p-5 .review-card {
    flex: 1;
  }
}

#subscribe-container {
  background-color: var(--clr-background-gray);
  padding: 2rem 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
}
@media (min-width: 768px) {
  #subscribe-container {
    padding: 4rem 1rem;
    flex-direction: row;
    gap: 1rem;
  }
  #subscribe-container #bell-sub {
    flex: 1;
  }
  #subscribe-container #input-div {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  #subscribe-container {
    padding: 4rem;
    gap: 2rem;
  }
}

.bell-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.bell-sub #subscribe-text {
  font-weight: 900;
}
@media (min-width: 1200px) {
  .bell-sub #subscribe-text {
    width: auto;
    text-align: left;
  }
}
.bell-sub #subscribe-text span {
  display: none;
}
@media (min-width: 1200px) {
  .bell-sub #subscribe-text span {
    display: inline;
  }
}

#p-6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  #p-6 {
    margin-top: 4rem;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  #p-6 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 4rem;
  }
  #p-6 .text-item {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #p-6 #contact-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #p-6 .collapse-faq {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
#p-6 .text-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  #p-6 .text-item {
    width: 50vw;
    margin: auto;
  }
  #p-6 .text-item h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #p-6 .text-item {
    width: auto;
    margin: auto;
    justify-content: center;
  }
  #p-6 .text-item h3 {
    font-size: 2rem;
    text-align: left;
  }
  #p-6 .text-item p {
    text-align: left;
  }
}

#contact-page-1 {
  background-color: var(--clr-background-gray);
}
@media (min-width: 768px) {
  #contact-page-1 {
    height: 60vh;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  #contact-page-1 {
    height: 55vh;
    margin-bottom: 10rem;
  }
}
#contact-page-1 #p-contact-1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #contact-page-1 #p-contact-1 {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    width: 100vw;
  }
}
@media (min-width: 1200px) {
  #contact-page-1 #p-contact-1 {
    margin: auto;
  }
}
@media (min-width: 768px) {
  #contact-page-1 #p-contact-1 .contact-us {
    flex: 1;
  }
  #contact-page-1 #p-contact-1 .contact-us h2 {
    margin-bottom: 2rem;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #contact-page-1 #p-contact-1 .contact-us h2 {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  #contact-page-1 #p-contact-1 .contact-us .contact-info-div {
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  #contact-page-1 #p-contact-1 .contact-us .contact-info-div {
    width: 70%;
  }
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div .contact-option {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div .contact-option .icon-holder {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--clr-background);
  aspect-ratio: 1;
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div .contact-option .icon-holder img {
  padding: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div .contact-option .contact-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div .contact-option .contact-group h4 {
  text-align: left;
}
#contact-page-1 #p-contact-1 .contact-us .contact-info-div .contact-option .contact-group a {
  text-decoration: none;
  font-weight: 600;
}
@media (min-width: 768px) {
  #contact-page-1 #p-contact-1 .consultation-card {
    flex: 1;
  }
}

#contact-page-2 {
  background-color: var(--clr-background);
}
@media (min-width: 1200px) {
  #contact-page-2 {
    height: 80vh;
  }
}

#p-contact-2 {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}
@media (min-width: 1200px) {
  #p-contact-2 {
    flex-direction: row;
    gap: 6rem;
  }
}
#p-contact-2 .google-map {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  #p-contact-2 .google-map {
    flex: 1;
  }
}
#p-contact-2 .location-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: auto;
}
@media (min-width: 1200px) {
  #p-contact-2 .location-box {
    flex: 1;
    gap: 2rem;
    justify-content: start;
    align-items: start;
  }
}
#p-contact-2 .location-box .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 1200px) {
  #p-contact-2 .location-box .location h4 {
    text-align: left;
    margin-bottom: 1rem;
  }
}
#p-contact-2 .location-box .location .icon-text {
  display: flex;
}
#p-contact-2 .location-box .location .icon-text .small-icon {
  height: 1.2rem;
  margin-right: 0.5rem;
}
#p-contact-2 .social-logos {
  display: flex;
  margin-block: 1rem;
  gap: 1rem;
  align-items: center;
  align-self: center;
}
#p-contact-2 .social-logos img {
  padding: 0.5rem;
  height: 3rem;
  background-color: var(--clr-background-gray);
  border-radius: 0.5rem;
}
#p-contact-2 .social-logos .social-dark {
  display: none;
}
@media (min-width: 1200px) {
  #p-contact-2 .social-logos {
    margin-block: 3rem;
  }
}

.button {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 162px;
  height: 50px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.down-btn {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--clr-background);
  color: var(--clr-text-body);
  position: relative;
  margin: 1rem;
  height: 3rem;
}
.down-btn::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  color: var(--clr-text-body);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0.25rem;
  transition: transform 0.3s ease;
}
.down-btn:hover {
  background-color: var(--clr-primary);
}
.down-btn:hover::after {
  color: var(--clr-white);
}
@media (min-width: 1200px) {
  .down-btn {
    margin: 1rem;
  }
}

#signin-button {
  display: none;
}
@media (min-width: 1200px) {
  #signin-button {
    display: block;
    height: 40px;
    text-decoration: none;
    background-color: var(--clr-primary);
    padding: 0.3rem 1rem;
  }
  #signin-button i {
    padding: 0.5rem;
  }
  #signin-button span {
    color: var(--clr-white);
  }
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
}
.hamburger-menu i {
  font-size: 1.5rem;
  color: var(--clr-text-body);
}

.download-button {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--clr-gray-900);
}
.download-button .btn-pic {
  height: 2.5em;
}
@media (min-width: 768px) {
  .download-button .btn-pic {
    height: 1.6em;
  }
}
@media (min-width: 1200px) {
  .download-button .btn-pic {
    height: 2.5em;
  }
}
.download-button .btn-pic-dark {
  display: none;
}

.dropdown-specialist-btn {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-gray-400);
  text-align: left;
  color: var(--clr-text-headlines);
  background-color: var(--clr-background);
  position: relative;
}
.dropdown-specialist-btn::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 0.6rem;
  color: var(--clr-text-headlines);
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0.25rem;
  transition: transform 0.3s ease;
}
.dropdown-specialist-btn.open {
  border-radius: 0.5rem 0.5rem 0 0;
}
.dropdown-specialist-btn.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.toggle-switch-button .toggle-switch-label {
  font-weight: 600;
  font-size: 1rem;
  display: none;
}
.toggle-switch-button .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}
.toggle-switch-button .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-switch-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-gray-600);
  transition: 0.4s;
}
.toggle-switch-button .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: 0px;
  background-color: var(--clr-white);
  transition: 0.4s;
}
.toggle-switch-button input:checked + .slider {
  background-color: var(--clr-primary);
}
.toggle-switch-button input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-primary);
}
.toggle-switch-button input:checked + .slider:before {
  transform: translateX(22px);
}
.toggle-switch-button .slider.round {
  border-radius: 34px;
}
.toggle-switch-button .slider.round:before {
  border-radius: 50%;
}

#input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

#email {
  height: 50px;
  width: 230px;
  border: 1px solid var(--clr-gray-400);
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--clr-white);
  font-size: inherit;
  padding: 0 1rem;
  position: relative;
}
@media (min-width: 768px) {
  #email {
    width: 215px;
  }
}
@media (min-width: 1200px) {
  #email {
    min-width: 350px;
  }
}

#email::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--clr-background);
  color: var(--clr-text-body);
  font-size: 1rem;
  color: var(--clr-gray-500);
  background-color: var(--clr-white);
}

#email::placeholder {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--clr-background);
  color: var(--clr-text-body);
  font-size: 1rem;
  color: var(--clr-gray-500);
  background-color: var(--clr-white);
}

#sub-btn {
  width: 100px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (min-width: 1200px) {
  #sub-btn {
    width: 120px;
  }
}

.review-card .text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--clr-background);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
  padding: 2rem;
  position: relative;
}
.review-card .text-box #quotes {
  position: absolute;
  top: -30px;
  left: 40px;
  transform: translateX(-50%);
  width: 60px; /* Adjust the size of the icon */
  height: auto;
}
.review-card .text-box .avatar-image {
  width: 3rem;
}
.review-card .stars {
  color: var(--clr-system-warning);
  text-align: left;
  margin: 0;
}
.review-card .reviewer-byline {
  display: flex;
  gap: 1rem;
}

/* Following collapsible buttons are made with help from W3 Schools tutorial */
.collapse-faq {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.collapse-faq .faq {
  display: flex;
  flex-direction: column;
}
.collapse-faq .faq .collapsible {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 1rem;
  width: 100%;
  border: 0.2px solid var(--clr-gray-300);
  border-radius: 6px;
  background-color: var(--clr-background);
  text-align: left;
  outline: none;
  position: relative;
}
.collapse-faq .faq .collapsible p {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-text-body);
}
.collapse-faq .faq .collapsible .collapse-down {
  background-color: var(--clr-gray-100);
  margin: 1rem;
  margin-right: 0;
}
.collapse-faq .faq .collapsible .collapse-down::after {
  color: var(--clr-text-body);
}
.collapse-faq .faq .collapsible .collapse-down:hover {
  background-color: var(--clr-primary);
}
.collapse-faq .faq .collapsible .collapse-down:hover::after {
  color: var(--clr-white);
}
.collapse-faq .faq .content {
  padding: 8px 18px;
  display: flex;
  flex-direction: column;
  color: var(--clr-gray-700);
  background-color: var(--clr-background);
  border: 0.2px solid var(--clr-gray-300);
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}
.collapse-faq .faq .content p {
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
.collapse-faq .faq-open .collapsible {
  border-bottom: none;
}
.collapse-faq .faq-open .collapsible .collapse-down {
  background-color: var(--clr-primary);
  box-shadow: 0 4px 6px 0 rgba(11, 15, 25, 0.15);
}
.collapse-faq .faq-open .collapsible .collapse-down::after {
  color: var(--clr-white);
  transform: translateY(-50%) rotate(180deg);
}
.collapse-faq .faq-open .collapsible .collapse-down:hover {
  background-color: var(--clr-gray-500);
}
.collapse-faq .faq-open .collapsible .collapse-down:hover::after {
  color: var(--clr-gray-900);
}
.collapse-faq .faq-open .content {
  max-height: 400px;
  opacity: 1;
  margin-bottom: 1rem;
}

#three-displays {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#three-displays img {
  display: block;
  width: 100%;
}
#three-displays .displays-tablet,
#three-displays .displays-dt {
  display: none;
}
#three-displays .image-container {
  padding: auto;
}
#three-displays #phone-container-left,
#three-displays #phone-container-right {
  display: none;
}
#three-displays #phone-container-middle {
  width: 100%;
  position: relative;
}
#three-displays #phone-container-middle #iphone-3 {
  width: 75%;
  margin: auto;
  position: relative;
  z-index: 0;
}
#three-displays #phone-container-middle #phone-middle {
  display: block;
  position: absolute;
  width: 76%;
  left: 12%;
  top: -1%;
}
@media (min-width: 768px) {
  #three-displays {
    margin-bottom: 0;
  }
  #three-displays #phone-container-left {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  #three-displays #phone-container-left #phone-left {
    width: 90%;
  }
  #three-displays #phone-container-middle {
    flex: 1;
    position: relative;
  }
  #three-displays #phone-container-middle #iphone-3 {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 0;
  }
  #three-displays #phone-container-middle #phone-middle {
    display: block;
    position: absolute;
    width: 100%;
    left: 0.5%;
    top: 0%;
  }
  #three-displays #phone-container-right {
    display: flex;
    flex: 1;
  }
  #three-displays #phone-container-right #phone-right {
    width: 90%;
  }
  #three-displays .displays-tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  #three-displays {
    margin-bottom: 0;
  }
  #three-displays .displays-tablet {
    display: none;
  }
  #three-displays .displays-dt {
    display: block;
  }
  #three-displays #phone-container-left {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  #three-displays #phone-container-left #phone-left-dt {
    width: 90%;
  }
  #three-displays #phone-container-middle {
    flex: 1;
    position: relative;
  }
  #three-displays #phone-container-middle #iphone-3 {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 0;
  }
  #three-displays #phone-container-middle #phone-middle {
    display: none;
  }
  #three-displays #phone-container-middle #phone-left {
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 2%;
  }
  #three-displays #phone-container-right {
    display: flex;
    flex: 1;
  }
  #three-displays #phone-container-right #phone-right-dt {
    width: 90%;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.consultation-card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
  border: none;
  background-color: var(--clr-background);
  top: 4rem;
  right: 5rem;
}
@media (min-width: 768px) {
  .consultation-card {
    width: 80%;
    height: 56vh;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1200px) {
  .consultation-card {
    padding: 4rem;
  }
}
.consultation-card .contact-form .input-group {
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.consultation-card .contact-form .input-group label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-text-headlines);
}
.consultation-card .contact-form .input-group input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-gray-400);
}
.consultation-card .contact-form .input-group input:hover, .consultation-card .contact-form .input-group input:active {
  border: none;
  box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
}
.consultation-card .contact-form .button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.google-map {
  padding-bottom: 80%;
  position: relative;
  height: 0;
  border: none;
  overflow: hidden;
  border-radius: 0.5rem;
}
@media (min-width: 1200px) {
  .google-map {
    width: 40%;
    padding-bottom: 45%;
  }
}
.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.error-message {
  position: absolute;
  color: var(--clr-system-error);
}

#consultation-card.submitted-message {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  #consultation-card.submitted-message {
    width: 40vw;
    height: 20vh;
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  #consultation-card.submitted-message {
    width: 40vw;
    height: 25vh;
    padding: 4rem;
  }
}

.error-message-2 {
  color: var(--clr-system-error);
}

#hamburger-expanded {
  top: 53.5px;
  right: -16px;
  width: 50vw;
  background-color: var(--clr-dropdown);
}
@media (min-width: 768px) {
  #hamburger-expanded {
    right: -38px;
    width: 20vh;
  }
}
#hamburger-expanded.open {
  max-height: 40vh;
}
@media (min-width: 768px) {
  #hamburger-expanded.open {
    max-height: 30vh;
  }
}
#hamburger-expanded .burger-item {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-text-headlines);
}

.dropdown-wrapper {
  position: relative;
}
.dropdown-wrapper .canExpand {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
  background-color: var(--clr-background);
  box-shadow: 0 4px 4px 0 rgba(11, 15, 25, 0.25);
}
.dropdown-wrapper .canExpand.open {
  max-height: 80vh;
}
.dropdown-wrapper .canExpand .dropdown-list {
  list-style: none;
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#dropdown-form {
  top: 36px;
  right: 0;
  width: 100%;
  max-height: 0;
  background-color: var(--clr-background);
  transition: max-height 0.2s ease;
}
#dropdown-form.open {
  max-height: 80vh;
}
.breadcrumb-container {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.breadcrumb-container .breadcrumb {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  align-items: center;
}
.breadcrumb-container .breadcrumb .home-link {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
  font-size: 0.8rem;
}
.breadcrumb-container .breadcrumb .home-link i {
  color: var(--clr-text-body-600);
}
.breadcrumb-container .breadcrumb .home-link p {
  font-size: 0.8rem;
  color: var(--clr-text-body-600);
}
.breadcrumb-container .breadcrumb .breadcrumb-link {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
  font-size: 0.8rem;
  color: var(--clr-text-body-600);
}
.breadcrumb-container .breadcrumb .breadcrumb-link::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f101";
  font-size: 0.7rem;
  align-items: center;
}
.breadcrumb-container .breadcrumb .breadcrumb-link .active {
  color: var(--clr-primary);
}

#contact-container {
  margin-bottom: 2rem;
  display: none;
  padding: 0;
}
@media (min-width: 768px) {
  #contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    align-self: start;
    justify-content: space-between;
  }
}
#contact-container .card {
  border: 1px solid var(--clr-gray-500);
  border-radius: 6px;
  display: none;
}
@media (min-width: 768px) {
  #contact-container .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    text-align: left;
  }
  #contact-container .card a {
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-primary);
  }
}
@media (min-width: 1200px) {
  #contact-container .card {
    min-height: -moz-max-content;
    min-height: max-content;
  }
}
@media (min-width: 768px) {
  #contact-container #message-contact {
    color: var(--clr-system-success);
  }
}
#contact-container .contact-icon {
  width: 2rem;
}

#button-container {
  width: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  #button-container {
    display: none;
  }
}/*# sourceMappingURL=main-sass.css.map */