:root {
    --clr-white: #FFFFFF;
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-880: hsl(223, 39%, 11%);
    --clr-gray-890: hsl(223, 39%, 5%);
    --clr-gray-900: #0B0F19;

    --clr-primary: #6366F1;
    --clr-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);

    --clr-text-headlines: var(--clr-gray-900);
    --clr-text-body: var(--clr-gray-700);
    --clr-text-body-600: var(--clr-gray-600);

    --clr-background: var(--clr-white);
    --clr-background-gray: var(--clr-gray-100);

    --clr-system-error: #EF4444; 
    --clr-system-success: #22C55E;
    --clr-system-warning: #FFBA08;
    --clr-system-info: #4C82F7;
}
